 /* swipe card */
 .swiper {
    width: 100%;
    height: auto;

    min-height: 360px;
    margin: 2rem auto;
    background-color: transparent;
}

.append-buttons {
    text-align: center;
    margin-top: 0.5rem;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 14px;
}

/* Add these styles to your CSS file */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
    color: #9ca3af !important;
    /* This will make the arrows black */
}

/* If you want to increase the size of the arrows, you can add */
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.5rem !important;
}

.swiper-slide {
    background: transparent;
    max-width: 230px;
    height: auto;
    display: grid;
    place-items: end;
    border-radius: 16px;
    border: 0px;

}