@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .tienne {
    font-family: "Tienne", serif;
  }
  
  .lato-p {
    font-family: "Lato", sans-serif;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    color: #d2d2d2;
   
  }

  .lato {
    font-family: "Lato", sans-serif;
  }
  
  .fullscreen-container {
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    background-color: #232B2B; /* Stylish black background */
    color: #fafafa; /* Text color (optional) */
    
  }
  
  .content-container {
    max-width: 1186px;
    margin: 0 auto; /* Center horizontally */
    padding: 0 1rem; /* Add 2px gutter on each side */
    height: 100%; /* Set height to screen height */
  }

  /* cards */
  .card-limit {
    background: linear-gradient(to right, #404040 50%, #292929 50%);
    color: rgb(207, 207, 207);
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 1rem;
    border: #393939 0.8px solid;
    width: 3rem;
    height: 1.4rem;
    display: flex;
    justify-content: space-between;
  }